html, body {
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  text-rendering: optimizelegibility;
}

html {
  overflow-x: hidden;
}

body {
  padding-top: 85px;
  background: #f2f2f2;
}

.ui-resizable-handle {
  width: 10px;
}

.pane-row {
  clear: both;
  float: left;
  width: 100%;
}

.pane-header {
  background: #f8f8f8;
  border-bottom: 1px solid #B8B8B8;
  border-top: 1px solid #B8B8B8;
  clear: both;
  font-size: 11px;
  font-weight: bold;
  padding: 8px 5px;
  width: 100%;

  button {
    margin-top: -4px;
    width: 25px;
  }
}

.form-column {
    float: left;
    font-size: 10px;
    width: 33%;
    padding: 5px;
}

.form-label {
    line-height: 23px;
    font-size: 11px;
}

.form-column input,
.form-column textarea {
    border: 1px solid #b6b6b6;
    font-size: 11px;
    padding: 3px 3px;
    margin-bottom: 2px;
    margin-top: 2px;
    width: 100%;
}

.form-column label.checkbox {
  cursor: pointer;
  line-height: 16px;
  margin: 5px 0 0;
  padding-left: 15px;
}

.form-column input[type="range"] {
    margin-top: 3px;
}

#component-preview {
  position: absolute;
  top: 33px;
  left: 0;
  bottom: 0;
  right: 0;
}






