html, body {
  background: #222A34;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #99A6B8;
  text-rendering: optimizelegibility;
}

/**
 * Bootstrap Overrides
 */
.btn-default {
  background: #2C3644;
  border-radius: 2px;
  border: 0;
  color: #99A6B8;
  padding: 5px 8px;
}

.table > tbody > tr > td {
  border-top-color: #181E26;
}

.modal-content {
  background: #222A34;
}

/**
 * Pane
 */
.pane {
  .pane-group {
    background: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
  }

  .pane-group:first-child .pane-header {
    border-top: 0;
  }
}

.pane-group .pane-body {
  border: 0 !important;
}

.pane-group ul {
  margin: 0;
  padding: 0;
}

.pane-group ul li {
  margin: 0;
  padding: 0;
}

.pane-group ul li a {
  padding: 5px 15px;
}

.pane-group ul li.active {
  background: #6d9ee1;
}

.pane-header {
  background: #222A34;
  color: #99A6B8;
  clear: both;
  font-size: 12px;
  font-weight: bold;
  padding: 10px 5px;
  line-height: 18px;
  height: 37px;
  width: 100%;

  button {
    margin-top: -4px;
    padding: 4px 8px;
  }
}

.pane-body {
  border-radius: 0;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.pane-row {
  clear: both;
  float: left;
  width: 100%;
}

.form-column {
  float: left;
  font-size: 12px;
  padding-right: 5px;
  padding-left: 5px;
  width: 33%;
}

.form-label {
  line-height: 23px;
  font-size: 11px;
}

.form-column input,
.form-column textarea {
  border: 0;
  border-radius: 2px;
  color: #2C3644;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  padding: 3px 5px;
  width: 100%;
}

.form-column label.checkbox {
  cursor: pointer;
  line-height: 16px;
  margin: 5px 0 0;
  padding-left: 15px;
}

/**
 * Pane Groups
 */
.pange-group-components {
  height: 75%;
  top: 0;
}

.pane-group-settings {
  height: 25%;
  top: 75%;
}

.pane-group-preview {
  height: 75%;
  top: 0;
}

.pane-group-prop-editor {
  height: 25%;
  top: 75%;
}

/**
 * Components Pane
 */
.pane-components {
  background: #222A34;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 275px;
}

/**
 * Preview Pane
 */
.pane-preview {
  background-color: #2C3643;
  bottom: 0;
  display: block;
  position: absolute;
  left: 0;
  margin-left: 275px;
  right: 0;
  top: 0;
  width: auto;
  z-index: 2;
}

#component-preview {
  background: #2C3643;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 37px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: -20px;
  padding: 0;
}
.nav-sidebar > li > a {
  color: #333;
  padding-right: 10px;
  padding-left: 10px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
