.home-page {
    font-family: 'Source Sans Pro','Helvetica Neue',Arial,sans-serif;
    text-rendering: optimizelegibility;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    }

    .navbar-default {
        border: 0;
        background-color: transparent;
        height: auto;
        font-family: 'Source Sans Pro','Helvetica Neue',Arial,sans-serif;
        margin: 0 0 0 10px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        transition: all .35s;
        z-index: 1;

        .navbar-btn > .btn {
            margin-top: 15px;
            color: #fff;
            font-size: 16px;
        }
    }

    .navbar-default .navbar-header .navbar-brand {
        text-transform: lowercase;
        font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
        font-weight: 400;
        font-size: 22px;
        margin-top: 15px;
        color: #fff;
    }

    .navbar-default .nav > li > a,
    .navbar-default .nav > li > a:focus {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        color: #fff;
    }

    .navbar-default .nav > li.active>a,
    .navbar-default .nav>li.active>a:focus {
        color: #fff!important;
        background-color: transparent;
    }

    .navbar-default .nav > li.active>a:hover,
    .navbar-default .nav>li.active>a:focus:hover {
        background-color: transparent;
    }

    section {
        clear: both;
        width: 100%;
    }

    section.section-home {
        padding: 45px 0 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        min-height: auto;
        text-align: center;
        color: #fff;
        background-image: url('/img/home-bg.jpg');
        background-position: 0% 0%, 50% 50%;
        background-repeat: repeat, no-repeat;
        background-attachment: scroll, fixed;
        background-size: cover;

        h1 {
            margin-bottom: 10px;
            font-size: 56px;
            font-weight: 300;
            margin-top: 120px;
            text-shadow: 0px 2px 5px rgba(0,0,0,0.25);
        }

        p {
            margin-bottom: 55px;
            font-size: 26px;
            font-weight: 300;
            text-shadow: 0px 2px 5px rgba(0,0,0,0.25);
        }

        .site-preview {
            background: url('/img/site-preview-full.png') no-repeat center top;
            background-size: cover;
            border-radius: 5px 5px 0 0;
            box-shadow: 0 0 3px rgba(0, 0, 0, .4);
            margin: 60px auto 0;
            width: 940px;
            height: 441px;
        }
    }

    section.section-features {
        background: #f0f2f1;
        padding-bottom: 125px;

        h2 {
            font-family: 'Source Sans Pro';
            font-size: 48px;
            font-weight: 300;
            margin-top: 125px;
            margin-bottom: 20px;
            color: rgb(82, 82, 82);
        }

        h3 {
            font-family: 'Source Sans Pro';
            color: rgb(174, 174, 174);
            font-size: 21px;
            font-weight: normal;
            margin-bottom: 60px;
        }

        p {
            font-family: 'Source Sans Pro';
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 25px;
        }

        hr {
            margin: 0;
        }

        .panel {
            border: 1px solid #ddd;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

        }

        .panel-body {
            overflow: hidden;
            position: relative;
        }

        h4 {
            color: #337AB7;
            margin-top: 70px;
        }

        p {
            margin-bottom: 25px;
        }

        .preview-descriptions {
            margin-left: 30px;
        }

        .image-preview {
            background-size: cover;
            background-color: #fff;
            border-radius: 4px 0 0 0;
            border: 1px solid #ddd;
            border-right: 0;
            border-bottom: 0;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
            height: 400px;
            position: absolute;
            bottom: 0;
            left: 50px;
            top: 30px;
            right: 0;
            width: 100%;

            &.image-preview-left {
                border-radius: 0 4px 0 0;
                border: 1px solid #ddd;
                border-left: 0;
                border-bottom: 0;
                right: 50px;
                left: 0;
            }
        }
    }

    section.section-auth {
        padding-top: 14%;
        position: fixed;
        height: 100%;
        background-image: linear-gradient(rgba(251, 114, 89, 0.90), rgba(251, 114, 89, 0.90)), url(/img/header2.jpg);
        background-size: cover;
    }

    section.section-highlight {
        padding: 100px;

        h2 {
            font-family: 'Source Sans Pro';
            font-size: 48px;
            font-weight: 300;
            margin-top: 0;
            margin-bottom: 20px;
            color: rgb(82, 82, 82);
        }

        h3 {
            font-family: 'Source Sans Pro';
            color: rgb(174, 174, 174);
            font-size: 21px;
            font-weight: normal;
            margin-bottom: 60px;
        }
    }
}

.centered-pills { text-align:center; }
.centered-pills ul.nav-pills { display:inline-block; }
.centered-pills li { display:inline; }
.centered-pills a { float:left; }
* html .centered-pills ul.nav-pills { display:inline; } /* IE6 */
*+html .centered-pills ul.nav-pills { display:inline; } /* IE7 */
