/**
 * Main content
 */
.main {
    background: #f2f2f2;
    position: absolute;
    overflow: scroll;
    top: 85px;
    bottom: 0;
    left: 200px;
    right: 200px;
    z-index: 1;
}

.drawing-canvas {
    display: table;
    margin: 0 auto;
    padding: 100px;
    position: relative;
    background: white;
    box-shadow: 0 0 7px -1px rgba(0, 0, 0, .2);
}

.drawing-canvas-screen {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: transparent;
    z-index: 99999;
}

.drawing-container {
    padding: 100px 0;
}

.html-object-container {
    position: absolute;
    cursor: crosshair;
    background: red;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.html-object-placeholder {
    border: 1px solid #979797;
}

.html-object {
    border: 1px solid transparent;
    z-index: 1;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }


    /**
    * jQuery Resizable Handles
    */
    .ui-resizable-handle {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, .4);
        width: 8px;
        height: 8px;
    }

    .ui-resizable-handle.ui-resizable-se {
        right: -5px;
        bottom: -5px;
    }

    .ui-resizable-handle.ui-resizable-sw {
        left: -5px;
        bottom: -5px;
    }

    .ui-resizable-handle.ui-resizable-ne {
        right: -5px;
        top: -5px;
    }

    .ui-resizable-handle.ui-resizable-nw {
        left: -5px;
        top: -5px;
    }

    .ui-resizable-handle.ui-resizable-n {
        left: 50%;
        margin-left: -5px;
        top: -5px;
    }

    .ui-resizable-handle.ui-resizable-s {
        bottom: -5px;
        left: 50%;
        margin-left: -5px;
    }

    .ui-resizable-handle.ui-resizable-e {
        right: -5px;
        margin-top: -5px;
        top: 50%;
    }

    .ui-resizable-handle.ui-resizable-w {
        left: -5px;
        margin-top: -5px;
        top: 50%;
    }
}

.current-html-object {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    .html-object-border {
        border: 1px dashed #dddddd;
        position: absolute;
        left: -2px;
        bottom: -2px;
        right: -2px;
        top: -2px;
    }
}

.current-html-object.grabbing {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.unfocused-html-object {
    .html-object-border {
        display: none;
    }

    &:hover .html-object-border {
        display: block;
        border: 2px solid #3cb8fe !important;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
    }
}

.html-object textarea {
    background: transparent;
    border: none;
    resize: none;
    outline: none;
    text-align: inherit;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    width: 100%;
}

.html-object-switch-container {

}
