.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
    border: 0;
}

nav.navbar-default {
    border-radius: 0;
    padding-top: 25px;
    height: 85px;
    margin-bottom: 0;
    background: #f6f6f6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6f6f6 0%, #dadada 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f6f6), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6f6f6 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6f6f6 0%,#dadada 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6f6f6 0%,#dadada 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6f6f6 0%,#dadada 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #b4b4b4;

    .fa {
        font-size: 16px;
        margin: 5px 0 5px;
        display: block;
        width: 100%;
        clear: both;
    }
}

.header-title-bar {
    color: #555;
    position: absolute;
    top: 5px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

ul.navbar-nav {
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navbar-nav > li {
    height: 60px;
    padding: 10px 0;
}

.navbar-default .navbar-nav > li > a {
    color: #555;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #282828;
}

.navbar-nav > li > a {
    color: inherit;
    font-size: 11px;
    line-height: inherit;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-default .navbar-nav > .open > a {
    background: none;
    color: #000;
}
