/**
 * Left Sidebar
 */
.left-sidebar {
    box-sizing: content-box;
    position: fixed;
    top: 85px;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #E7E7E7;
    border-right: 1px solid #B8B8B8;
    width: 160px;
    z-index: 2;

    .ui-resizable-handle.ui-resizable-e {
        width: 6px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        cursor: col-resize;
    }
}


.left-sidebar .panel-left-sidebar {
    margin: 0 -20px 30px;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
    border: 0;
}

.left-sidebar .panel-left-sidebar .panel-body {
    border: 0 !important;
}

.left-sidebar .panel-left-sidebar ul {
    margin: 0;
    padding: 0;
}

.left-sidebar .panel-left-sidebar ul li {
    margin: 0;
    padding: 0;
}

.left-sidebar .panel-left-sidebar ul li a {
    padding: 5px 15px;
}

.left-sidebar .panel-left-sidebar ul li.active {
    background: #6d9ee1;
}

.left-sidebar .panel-left-sidebar .panel-heading {
    background: #f3f3f3;
    border-radius: 0;
    padding: 0 10px;
    line-height: 30px;
    font-size: 12px;
    border-bottom: 1px solid #b8b8b8;
    height: 30px;
}

.left-sidebar .panel-left-sidebar .panel-body {
    border-radius: 0;
    font-size: 12px;
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding: 0;
}


/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: -20px;
    padding: 0;
}
.nav-sidebar > li > a {
    color: #333;
    padding-right: 10px;
    padding-left: 10px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
