.right-sidebar {
  background-color: #E7E7E7;
  bottom: 0;
  display: block;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  position: fixed;
  right: 0;
  top: 85px;
  width: 41%;
  z-index: 2;

  .sidebar-group:first-child .pane-header {
    border-top: 0;
  }

  .ui-resizable-handle.ui-resizable-w {
    width: 6px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: col-resize;
  }
}

.right-sidebar[style]{
    left: auto !important;
}

.align-object-btns {
    background: #f3f3f3;
    width: 100%;
    border-bottom: 1px solid #B8B8B8;
}

.align-object-btns button.btn-default {
    background: #f3f3f3;
    border: 0;
    border-radius: 0;
    width: 16.8%
}

#component-preview {
  background: #fff;
}

#console-container {
  p {
    font-size: 12px;
    padding: 2px 4px;
    margin: 0;
  }
}

.console-log {
  border-bottom: 1px solid #f3f3f3;
  background: white;
}

.console-warn {
  background: #FFFBE6;
  border-bottom: 1px solid #FFF5C2;
  color: #684911;
}

.console-error {
  background: #FEEFEF;
  border-bottom: 1px solid #FDD8D8;
  color: #F93D3E;
}
