/*
* Right Sidebar
*/
.right-sidebar {
    position: fixed;
    top: 85px;
    right: 0;
    bottom: 0;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #E7E7E7;
    border-left: 1px solid #B8B8B8;
    width: 200px;
    z-index: 2;

    .ui-resizable-handle.ui-resizable-w {
        width: 6px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        cursor: col-resize;
    }
}

.right-sidebar[style]{
    left: auto !important;
}

.align-object-btns {
    background: #f3f3f3;
    width: 100%;
    border-bottom: 1px solid #B8B8B8;
}

.align-object-btns button.btn-default {
    background: #f3f3f3;
    border: 0;
    border-radius: 0;
    width: 16.8%
}

.sidebar-row {
    clear: both;
    float: left;
    width: 100%;
}

.sidebar-header {
    background: #f8f8f8;
    border-top: 1px solid #B8B8B8;
    border-bottom: 1px solid #B8B8B8;
    width: 100%;
    clear: both;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
}

.form-column {
    float: left;
    font-size: 10px;
    width: 33%;
    padding: 5px;
}

.form-label {
    line-height: 23px;
    font-size: 11px;
}

.form-column input,
.form-column textarea {
    border: 1px solid #b6b6b6;
    font-size: 11px;
    padding: 1px 3px;
    margin-bottom: 2px;
    width: 100%;
}

.form-column input[type="range"] {
    margin-top: 3px;
}

.one-fifth { width: 20% }
.one-fourth { width: 25% }
.full-width { width: 100%; }
.one-half { width: 50%; }
.two-thirds { width: 66.66%; }
.one-third { width: 33.33%; }
